# Byte-compiled / optimized / DLL files
Ambiente_SOMN/__pycache__/
JobShop/__pycache__/
Seed/__pycache__/
Stablebaselines3/__pycache__
*.py[cod]

# Weights and Biases
wandb/
runs/

# Virtual envs
.venv/
