# Byte-compiled / optimized / DLL files
Ambiente_SOMN/__pycache__/
JobShop/__pycache__/
Seed/__pycache__/
Stablebaselines3/__pycache__/
*.py[cod]

# Weights and Biases
wandb/
runs/

# Virtual envs
.venv/
/Ambiente_SOMN/__pycache__
/Ambiente_SOMN/__pycache__
/Ambiente_SOMN/__pycache__
*.pyc
*.pyc
Ambiente_SOMN/__pycache__/Demand.cpython-310.pyc
Ambiente_SOMN/__pycache__/Somn.cpython-310.pyc
*.pyc
Ambiente_SOMN/__pycache__/Yard.cpython-310.pyc
